.contact {
    display: flex;
    justify-content: space-around;
    width: 100%;

}

input[type='text'],
textarea {
    display: block;
    padding: 1em;
    border-radius: 0.5em;
    margin: 1em;
    width: 60%;

}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.Contact-info ul {
    padding-top: 40px;
    list-style: none;
    font-size: 20px;
    text-align: left;

}

.Contact-info a {
    color: white;
    /* padding-left: 20px; */
    /* margin: 0.5em; */
}

.Contact-info li {
    margin-bottom: 0.5em;
}

.icon {
    display: flex;
    align-items: start;
    gap: 1em;
    margin-top: 1.5em;
}

.icon .fa {
    font-size: 30px;
    margin-right: 1em;
}

.Contact-info,
.send-info {
    padding-top: 40px;
    align-items: start;
    text-align: left;

}