:root {
  --primary-color: #f09678;
  --secondary-color: #f2b7ac;
}

* {
  margin: 0;
}

.first {
  background-color: var(--primary-color);
  color: white;
  margin: 0;
  height: 750px;
  text-align: center;
}

.text-first {
  padding-top: 250px;
}

nav {
  padding: 15px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: right;
  font-size: 20px;
}

nav ul li {
  padding-left: 15px;
}

.second {
  background-color: var(--secondary-color);
  color: white;
  height: 750px;
}

.second h1 {
  text-align: center;
  padding-top: 20px;
}

.second {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.second-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  margin: 20px;
}

.second-container img {
  height: 500px;
}

.second-text {
  width: 40%;
}